<ul class="nav">
  <% itens.each do |controller_name| %>
    <li><%= link_to controller_name, controller: controller_name %></li>
  <% end %>
  <li><%= link_to 'school general report', report_path %></li>
</ul>
